=simple_form_ for @pin, html: {multipart: true} do |f|
  -if @pin.errors.any?
    #errors
      %h2
      = pluralize(@pin.errors.count, "error")
      prevented this Pin from saving
      %ul
        -@pin.errors.full_messsages.each do |msg|
          %li= msg

  .form-group
    = f.input :title, input_html: {class: "form"}

  .form-group
    = f.input :description, input_html: {class: "form"}

  = f.button :submit, class: "btn btn-primary"
